{% extends 'office/base.html' %}
{% load static %} 
{% block content %}
<table>

    <caption>案件一覧</caption>
    <tr>
        <th scope="col">取引先</th>
        <th scope="col">客先納期</th>
        <th scope="col">社内納期</th>
        <th scope="col">メモ</th>
        <th scope="col">作成日</th>
        <th scope="col">図面</th>
        <th scope="col">編集</th>
        <th scope="col">削除</th>

        {% for post in posts %}
    </tr>
    <th scope="row"><a href="{% url 'office-detail' post.id %}">{{ post.customer }}</a></th>
    <td>{{ post.customer_deadline }}</td>
    <td>{{ post.my_company_deadline }}</td>
    <td>{{ post.memo }}</td>
    <td>{{ post.created_at }}</td>
    
    {% if post.image %}
        <td><img src="{{ post.image.url }}" width="350" height="200"/></td>
    {% else %}
        <td>図面なし</td>
    {% endif %}
    <td><a href="{% url 'office-update' post.id %}">編集</a></td>
    <td><a href="{% url 'office-delete' post.id %}">削除</a></td>
    <tr>
        {% endfor %}
    </tr>
</table>
{% endblock %}