td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

#nav {
    list-style: none;
    display: flex;
    padding: 0px;
}

#nav li {
    width: 140px;
    text-align: center;
    background-color: #7CBD1E;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0px;
}